<section class="container">
    <div class="row">
        <div class="col-sm-6" id="text_top">
            <h2>なんちゃってTwitter</h2>
            <p>Twitter風のデモアプリです。</p>
        </div>
        <div class="col-sm-6" id="top_img">
            <img src="<%= asset_path "twitter-on-iphone-5s.jpg" %>" width="80%" height="80%">
        </div>
    </div>
</section>
